* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑";
}
a{
    color: white;
    text-decoration: none;
}
body{
    background: url("../image/地球.png");
}

.top-wrapper{
    width: 100%;
    height: 130px;
    background: #17181f;
}

.top-inner{
    width: 990px;
    height: 130px;
    background: #17181f;
    /*background: red;*/
    margin: 0 auto;
}

.top-logo{
    position: relative;
    float: left;
    top: 45px;
}

.top-nav{
    position: relative;
    float: right;
    height: 130px;
}

.top-nav > ul{
    display: flex;
}

.top-nav > ul >li{
    height: 130px;
    width: 95px;
    text-align: center;
    color: white;
    padding-top: 35px;
    box-sizing: border-box;
}

.top-nav > ul >li > img{
    height: 35px;
}

.regist a{
    text-decoration: none;
    color: white;
}

.regist a:hover{
    color: red;
}

.regist > a:hover > img{
    width: 40px;
}

.choose-menu{
    background: #17181f;
    /*background: white;*/
    opacity:0.95;
    display: none;
    z-index: 1000;
    float: left;
    min-width: 100%;
    min-height: 0px;
    overflow: auto;
    padding-top: 14px;
}

.choose-menu > ul{
    /*display: flex;*/
}

.choose-menu > ul > li{
    width: 100%;
    line-height: 40px;
    float: left;
    color: white;

}

.content-wrapper{
    width: 990px;
    margin: 0 auto;
    background: red;
    font-size: 50px;
}

.banner-wrapper{
    width: 990px;
    height: 360px;
    margin: 0 auto;
    background: #4fb8f8;
}

.banner-inner img{
    width: 990px;
    margin-top: 28px;
}

.banner-inner ul{
    display: flex;
    align-items: center;
    position: relative;
    top: -50px;
}

.banner-inner ul >li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin: 0 50px;
    position: relative;
    left: 325px;
}
.banner-inner ul >li:hover{
    cursor: pointer;
}

.introduction-wrapper{
    width: 990px;
    height: 285px;
    margin: 0 auto;
    background: #28294b;
}

.introduction-wrapper img{
    float: left;
    position: relative;
    top: 37px;
    left: 50px;
}


.info-content{
    width: 463px;
    height: 217px;
    float: right;
    position: relative;
    top: 37px;
    right: 50px;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0 83px;
    line-height: 20px;
}

.info-content p{
    text-align: center;
}

.view_more{
    float: right;
    position: relative;
    bottom: 25px;
    right: -83px;
    width: 84px;
    height: 28px;
    border-radius: 9px;
    opacity:0.95;
    background: #28294b;
    color: white;
}



.content-wrapper{
    width: 990px;
    height: 310px;
    margin: 0 auto;
    /*background: #17181f;*/
    background: url("../image/conbakc.png");
    background-size: 990px 310px;
}


.footer-wrapper{
    width:990px;
    height:80px;
    background:#0d0d0d;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 10px;
}
.footer-wrapper p{
    text-align: center;
    color:#898989;
    font-size: 16px;
}

